<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Sonia!!!!!!!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f8ff;
            text-align: center;
            margin-top: 50px;
        }
        h1 {
            color: #ff6347;
            font-size: 3em;
        }
        p {
            font-size: 1.5em;
            color: #2f4f4f;
        }
        img {
            width: 300px;
            border-radius: 10px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Hello, Team Aura!!!!!!!!!!!!</h1>
    <p>This is a test page for Ci/CD pipleline Automations.</p>
    <img src="https://via.placeholder.com/300" alt="Cute image">
</body>
</html>
